# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,java-web
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,java-web

### Java-Web ###
## ignoring target file
target/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,java-web